################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
.vs/
/bin
/obj
/CCA.Services.RepositoryNook/CCA.Services.RepositoryNook/obj
/CCA.Services.RepositoryNook/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2
/CCA.Services.RepositoryNook/CCA.Services.RepositoryNook/obj/Debug/netcoreapp2.2
/CCA.Services.RepositoryNook.Database/deleteMeProject/obj
/deleteMeProject
/fullproject.xml
/CCA.Services.RepositoryNook/bin/Release/netcoreapp2.2
/bin/Release/cca.services.RepositoryNook.dll
/bin/Release/cca.services.RepositoryNook.pdb
/CCA.Services.RepositoryNook/obj/Debug/netcoreapp2.2
/CCA.Services.RepositoryNook/obj/Release/netcoreapp2.2
/CCA.Services.RepositoryNook/CCA.Services.RepositoryNook.csproj.user
/CCA.Services.RepositoryNook/obj/project.assets.json
/CCA.Services.RepositoryNook/obj/Docker/TargetFramework.cache
/CCA.Services.RepositoryNook/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
/CCA.Services.RepositoryNook/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
/CCA.Services.RepositoryNook/obj/Docker/ProjectReferences.cache
/CCA.Services.RepositoryNook/obj/Docker/CanonicalServiceNames.cache
/CCA.Services.RepositoryNook/obj/Docker/AppType.cache
/CCA.Services.RepositoryNook/obj/CCA.Services.RepositoryNook.csproj.nuget.g.targets
/CCA.Services.RepositoryNook/obj/CCA.Services.RepositoryNook.csproj.nuget.g.props
/CCA.Services.RepositoryNook/obj/CCA.Services.RepositoryNook.csproj.nuget.cache
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.deps.json
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.dll
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.pdb
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.runtimeconfig.dev.json
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.runtimeconfig.json
