################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/CCA.Services.Goober/v15/Server/sqlite3/db.lock
.vs/
/bin/Debug
/CCA.Services.Goober/bin/Debug/netcoreapp2.1
/CCA.Services.Goober/obj
/CCA.Services.Goober.DAL/bin/Debug/netcoreapp2.1
/CCA.Services.Goober.DAL/obj
/CCA.Services.Goober.Database/bin/Debug
/CCA.Services.Goober.Database/obj/Debug
/CCA.Services.Goober.Database/Publish Profiles-copy
/CCA.Services.Goober.Database/CCA.Services.Goober.Database.sqlproj.user
/CCA.Services.Goober.Database/ECA.Services.Document.Signature.Database.jfm
/CCA.Services.Goober.Database/ECA.Services.Goober.Database.jfm
/CCA.Services.Goober.Database/ECA.Services.Goober.Database.nuspec
/CCA.Services.Goober.Database/ECA.Services.Goober.Database.refactorlog
/CCA.Services.Goober.Tests/bin/Debug/netcoreapp2.1
/CCA.Services.Goober.Tests/obj
/obj
/CCA.Services.Goober.Database/CCA.Services.Goober.Database.dbmdl
/CCA.Services.Goober.Database/CCA.Services.Goober.Database.jfm
/CCA.Services.Goober/bin/Release/netcoreapp2.1
/CCA.Services.Goober.DAL/bin/Release/netcoreapp2.1
/CCA.Services.RepositoryNook/obj
/CCA.Services.RepositoryNook.Database/bin/Debug
/CCA.Services.RepositoryNook.Database/obj/Debug/CCA.Services.RepositoryNook.Database.sqlproj.FileListAbsolute.txt
/CCA.Services.RepositoryNook.Database/obj/Debug
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.1
/CCA.Services.RepositoryNook.Tests/obj/CCA.Services.RepositoryNook.Tests.csproj.nuget.cache
/CCA.Services.RepositoryNook.Tests/obj
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.1
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2
/CCA.Services.RepositoryNook.Database
/deleteMeProject/obj
/deleteMeProject
/fullproject.xml
/CCA.Services.RepositoryNook/bin/Release/netcoreapp2.2
/bin/Release/cca.services.RepositoryNook.dll
/bin/Release/cca.services.RepositoryNook.pdb
/CCA.Services.RepositoryNook/obj/Debug/netcoreapp2.2
