################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
.vs/
/bin
/obj
/CCA.Services.RepositoryNook/CCA.Services.RepositoryNook/obj
/CCA.Services.RepositoryNook/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2
/CCA.Services.RepositoryNook/CCA.Services.RepositoryNook/obj/Debug/netcoreapp2.2
/CCA.Services.RepositoryNook.Database/deleteMeProject/obj
/deleteMeProject
/fullproject.xml
/CCA.Services.RepositoryNook/bin/Release/netcoreapp2.2
/bin/Release/cca.services.RepositoryNook.dll
/bin/Release/cca.services.RepositoryNook.pdb
/CCA.Services.RepositoryNook/obj/Debug/netcoreapp2.2
/CCA.Services.RepositoryNook/obj/Release/netcoreapp2.2
/CCA.Services.RepositoryNook/CCA.Services.RepositoryNook.csproj.user
/CCA.Services.RepositoryNook/obj/project.assets.json
/CCA.Services.RepositoryNook/obj/Docker/TargetFramework.cache
/CCA.Services.RepositoryNook/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
/CCA.Services.RepositoryNook/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
/CCA.Services.RepositoryNook/obj/Docker/ProjectReferences.cache
/CCA.Services.RepositoryNook/obj/Docker/CanonicalServiceNames.cache
/CCA.Services.RepositoryNook/obj/Docker/AppType.cache
/CCA.Services.RepositoryNook/obj/CCA.Services.RepositoryNook.csproj.nuget.g.targets
/CCA.Services.RepositoryNook/obj/CCA.Services.RepositoryNook.csproj.nuget.g.props
/CCA.Services.RepositoryNook/obj/CCA.Services.RepositoryNook.csproj.nuget.cache
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.deps.json
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.dll
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.pdb
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.runtimeconfig.dev.json
/CCA.Services.RepositoryNook/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.runtimeconfig.json
/CCA.Services.RepositoryNook/obj/Docker/publish/web.config
/CCA.Services.RepositoryNook/obj/Docker/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Swashbuckle.AspNetCore.Swagger.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Swashbuckle.AspNetCore.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/MongoDB.Driver.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/MongoDB.Driver.Core.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/MongoDB.Bson.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Microsoft.Extensions.PlatformAbstractions.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Microsoft.ApplicationInsights.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Microsoft.ApplicationInsights.AspNetCore.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Microsoft.AI.WindowsServer.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Microsoft.AI.ServerTelemetryChannel.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Microsoft.AI.PerfCounterCollector.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Microsoft.AI.DependencyCollector.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Json/schemas/SchemaRegistry.schema.json
/CCA.Services.RepositoryNook/obj/Docker/publish/Json/schemas/Repository.schema.json
/CCA.Services.RepositoryNook/obj/Docker/publish/DnsClient.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/Connected Services/Application Insights/ConnectedService.json
/CCA.Services.RepositoryNook/obj/Docker/publish/CCA.Services.RepositoryNook.runtimeconfig.json
/CCA.Services.RepositoryNook/obj/Docker/publish/CCA.Services.RepositoryNook.pdb
/CCA.Services.RepositoryNook/obj/Docker/publish/CCA.Services.RepositoryNook.dll
/CCA.Services.RepositoryNook/obj/Docker/publish/CCA.Services.RepositoryNook.deps.json
/CCA.Services.RepositoryNook/obj/Docker/publish/aws-ecs-tools-defaults.json
/CCA.Services.RepositoryNook/obj/Docker/publish/appsettings.json
/CCA.Services.RepositoryNook/obj/container/TargetFramework.cache
/CCA.Services.RepositoryNook/obj/container/RelativeOutputAssemblyPath.cache
/CCA.Services.RepositoryNook/obj/container/OperatingSystemName.cache
/CCA.Services.RepositoryNook/obj/container/ImageId.cache
/CCA.Services.RepositoryNook/obj/container/ImageBuildContext.cache
/CCA.Services.RepositoryNook/obj/container/ContainerRunContext.cache
/CCA.Services.RepositoryNook/obj/container/ContainerId.cache
/CCA.Services.RepositoryNook/obj/container/ContainerDevelopmentMode.cache
/CCA.Services.RepositoryNook/obj/CCA.Services.RepositoryNook.csproj.EntityFrameworkCore.targets
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.runtimeconfig.json
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.runtimeconfig.dev.json
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.pdb
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.dll
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.deps.json
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/cca.services.repositorynook.pdb
/CCA.Services.RepositoryNook.Tests/bin/Debug/netcoreapp2.2/cca.services.repositorynook.dll
/CCA.Services.RepositoryNook.Tests/obj/project.assets.json
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.Program.cs
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.pdb
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.dll
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.csprojAssemblyReference.cache
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.csproj.FileListAbsolute.txt
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.csproj.CoreCompileInputs.cache
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.csproj.CopyComplete
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.assets.cache
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.AssemblyInfoInputs.cache
/CCA.Services.RepositoryNook.Tests/obj/Debug/netcoreapp2.2/CCA.Services.RepositoryNook.Tests.AssemblyInfo.cs
/CCA.Services.RepositoryNook.Tests/obj/CCA.Services.RepositoryNook.Tests.csproj.nuget.g.targets
/CCA.Services.RepositoryNook.Tests/obj/CCA.Services.RepositoryNook.Tests.csproj.nuget.g.props
/CCA.Services.RepositoryNook.Tests/obj/CCA.Services.RepositoryNook.Tests.csproj.nuget.cache
/CCA.Services.RepositoryNook/obj
/CCA.Services.RepositoryNook.Tests/obj
